#storeForm{
    width: 50%;
    margin: auto;
}

body{
    background-color: #2f4f4f;
    color: white;
}
#hero{
    background-image: url(/public/img/pexels-felix-mittermeier-956999.jpg);
    height: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    position: relative;
   
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    
}
    

#hero .content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}   


/* metto il footer in fondo alla pagina */
footer {
    
    bottom:0;
    left:0;
    width:100%;
    }

    .my-card{
        border-radius: 8px;
        border-style:solid;
        border-color: #0f0202;
        transition: all ease .300s;
        outline: #0f02024e solid 3px;
        color: black;
        }
        /*con i due punti hover do l'animazione alle card passanodci sopra con il mouse */
    .my-card:hover{
        cursor: pointer;
       background-color:#2f4f4f ;
        color: white;
    }

    .my-model-bg{
        background-color: #2f4f4f;
    }

    #loginForm, #registerForm{
        width: 50%;
        margin: auto;
    }
    #sectionProfilo{
        width: 75%;
        margin: auto;
        background-color: #2f4f4f;
        
    
    }

    #sectionProfilo .container{
        border-radius: 10%;
    }
    #sectionProfilo img{
        border-radius: 100%;
  
    }
    
